<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.w8d.dao.UserDao">
    <resultMap id="userMap" type="top.w8d.domain.User">
        <id property="userId" column="user_id" />
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />
        <result property="password" column="password" />
        <result property="qq" column="qq" />
        <result property="telephone" column="telephone" />
        <result property="createTime" column="create_time" />
        <result property="valid" column="valid" />
    </resultMap>

    <select id="queryUserById" resultMap="userMap" resultType="top.w8d.domain.User">
      SELECT user_id,username,nickname,password,qq,telephone,create_time,valid FROM user WHERE user_id=#{user_id}
    </select>

    <select id="queryUserByName" resultMap="userMap" resultType="top.w8d.domain.User">
        SELECT user_id,username,nickname,password,qq,telephone,create_time,valid FROM user WHERE username=#{username}
    </select>

    <select id="queryUserByTelephone" resultMap="userMap" resultType="top.w8d.domain.User">
        SELECT user_id,username,nickname,password,qq,telephone,create_time,valid FROM user WHERE telephone=#{telephone}
    </select>
    
    <insert id="addUser">
        INSERT INTO user(username,nickname,password, qq, telephone, valid) VALUES (#{username}, #{nickname}, #{password}, #{qq}, #{telephone}, TRUE)
    </insert>

    <delete id="deleteUser">
        DELETE FROM user WHERE userid=#{userId)
    </delete>

    <update id="updateUser">
        UPDATE user SET nickname=#{nickname},password=#{password},qq=#{qq},telephone=#{telephone},valid=#{valid} WHERE user_id=#{userId}
    </update>
</mapper>
